[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
python-dotenv = "*"
google-genai = "*"
pydantic-settings = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
